.real-center {
  width: 30rem;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  max-width:100%;
  max-height:100%;
  overflow:auto;
}