.real-center {
  width: 30rem;
  padding-top: 20vh;
  padding-bottom: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.row {
  margin-bottom: 0;
}

.add-item {
  opacity: 1;
  display: inline-block;
  padding: 1em;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.add-item .paper-btn {
  padding: .6em 1em;
  background: #fff;
  border-top-left-radius: 185px 160px;
  border-top-right-radius: 200px 195px;
  border-bottom-right-radius: 160px 195px;
  border-bottom-left-radius: 185px 190px;
}